.content-demo {
	display: flex;
	margin-bottom: 50px;
}

.content-demo {
	margin-left: 350px;
}

.demo {
	width: 500px
}

.content-title-demo {
	margin-top: 30px;
	text-align: center;
	margin-left: 100px;
}

.title-demo{
	font-size: 46px;
	font-family: arial;
	color: #00b6a2;
}

.button-demo {
	width: 150px;
	height: 35px;
	font-size: 16px;
	background: #f68625;
	color: #fff;
	font-weight: bold;
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
}
