.header {
	background-color: #336aa1;
	display: flex;
}

.pages {
	display: flex;
	margin-left: 20%;
	align-items: right;
	text-align: center;
}

.title {
	padding: 5px;
	color: white;
	font-size: 16px;
	border-radius: 20px;
	font-family: "Poppins",Poppins;
	font-weight: 600;
	text-decoration: none;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.title:hover {
	background-color: #51c994;
}
